<h2>hello Rails!</h2>

<%= link_to("All businesses", businesses_path, class: "btn") %>
<br>
<br>
<%= link_to("Add a new business", {:controller => "businesses", :action => "new"}, class: "btn") %>
<br>
<br>
<%= link_to("Add an administrator", {:controller => "admins", :action => "new"}, class: "btn") %>